<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login Page</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

        <!-- Optional theme -->
        <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>

        <link rel="stylesheet" th:href="@{/css/app.css}"/>
    </head>
    <body>
        <div class="container">
            <h2>Please Confirm</h2>

            <p>
<!--                Do you authorize "${authorizationRequest.clientId}" at "${authorizationRequest.redirectUri}" to access your protected resources
                with scope ${authorizationRequest.scope?join(", ")}.-->
                Do you authorize <span th:text="${authorizationRequest.clientId}">clientId</span> 
                at <span th:text="${authorizationRequest.redirectUri}">redirectUri</span> 
                to access your protected resources with scope <span th:text="${authorizationRequest.scope}">scope</span>
            </p>
            <form id="confirmationForm" name="confirmationForm"
                  action="../oauth/authorize" method="post">
                <input name="user_oauth_approval" value="true" type="hidden" />
                <input type="hidden" th:id="csrf_token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button class="btn btn-primary" type="submit">Approve</button>
            </form>
            <form id="denyForm" name="confirmationForm"
                  action="../oauth/authorize" method="post">
                <input name="user_oauth_approval" value="false" type="hidden" />
                <input type="hidden" th:id="csrf_token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button class="btn btn-primary" type="submit">Deny</button>
            </form>
        </div>
    </body>
</html>
